<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">HausFix</a>

    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (isAdmin()) {
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" (click)="isMenuCollapsed = true" routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" (click)="isMenuCollapsed = true" routerLink="/customers">Customers</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" (click)="isMenuCollapsed = true" routerLink="/readings">Readings</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-lg-end w-100 align-items-center gap-3">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
            {{ username() }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem routerLink="/profile">Profile</a>
            <button (click)="logout()" ngbDropdownItem>Logout</button>
          </div>
        </div>
        <ng-icon (click)="toggleDarkmode()" name="bootstrap-circleHalf" style="cursor: pointer"
                 ngbTooltip="Toggle Darkmode"/>
      </ul>
    </div>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>
