<div class="container">
  <div class="card mt-5">
    <div class="card-header justify-content-between align-items-center d-flex">
      <h1>Customers</h1>
      <a routerLink="/customers/create" class="btn btn-primary">Create Customer</a>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Birthdate</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.gender }}</td>
          <td>{{ customer.birthDate ?? '' }}</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-primary d-flex align-items-center justify-content-center" [routerLink]="['/customers', customer.id]"><ng-icon name="bootstrapEye"></ng-icon></a>
              <a class="btn btn-success d-flex align-items-center justify-content-center" [routerLink]="['/customers', customer.id, 'edit']"><ng-icon name="bootstrapPencil"></ng-icon></a>
              <button class="btn btn-danger d-flex align-items-center justify-content-center" (click)="delete(customer)"><ng-icon name="bootstrapTrash"></ng-icon></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
