<div class="container">
    <div class="card mt-5">
      <div class="card-header justify-content-between align-items-center d-flex">
        <h1>Readings</h1>
        <a routerLink="/readings/create" class="btn btn-primary">Create Reading</a>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Customer ID</th>
            <th>Date of Reading</th>
            <th>Meter ID</th>
            <th>Meter Count</th>
            <th>Kind of Meter</th>
            <th>Comment</th>
            <th>Substitute</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reading of readings">
            <td>{{ reading.id }}</td>
            <td>{{ reading.customer.id }}</td>
            <td>{{ reading.dateOfReading }}</td>
            <td>{{ reading.meterId }}</td>
            <td>{{ reading.meterCount }}</td>
            <td>{{ reading.kindOfMeter }}</td>
            <td>{{ reading.comment }}</td>
            <td>{{ reading.substitute }}</td>
            <td><a [routerLink]="['/readings', reading.id]">Show Details</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  