<div class="container">
  <div class="card mt-5">
    <form [formGroup]="readingForm" (ngSubmit)="submit()">
      <div class="card-header justify-content-between align-items-center d-flex">
        <h1>Create new Reading</h1>
        <div class="d-flex gap-3">
          <a routerLink="/readings" class="btn btn-danger">Cancel</a>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
      <div class="card-body">

        <div class="mb-3 row">
          <div class="col-6">
            <label for="customer" class="form-label">Customer ID</label>
            <input formControlName="customer" type="text" class="form-control" id="customer">
          </div>

          <div class="col-6">
            <label for="dateOfReading" class="form-label">Date of Reading</label>
            <input formControlName="dateOfReading" type="text" class="form-control" id="dateOfReading">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6">
            <label for="meterId" class="form-label">Meter ID</label>
            <input formControlName="meterId" type="text" class="form-control" id="meterId">
          </div>

          <div class="col-6">
            <label for="meterCount" class="form-label">Meter Count</label>
            <input formControlName="meterCount" type="text" class="form-control" id="meterCount">
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-6">
            <label for="kindOfMeter" class="form-label">Kind of Meter</label>
            <select formControlName="kindOfMeter" id="kindOfMeter" class="form-select">
              <option *ngFor="let kindOfMeter of kindOfMeter()" value="{{ kindOfMeter }}">{{ kindOfMeter }}</option>
            </select>
          </div>
          <div class="col-6">
            <label for="comment" class="form-label">Comment</label>
            <input formControlName="comment" type="text" class="form-control" id="comment">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6">
            <label for="substitute" class="form-label">Substitute</label>
            <input formControlName="substitute" type="text" class="form-control" id="substitute">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
