<div class="container">
  <div class="card mt-5">
    <form [formGroup]="readingForm" (ngSubmit)="submit()">
      <div class="card-header justify-content-between align-items-center d-flex">
        <h1>Create new Reading</h1>
        <div class="btn-group">
          <app-custom-button label="Cancel" [link]="['/readings']" color="danger" icon="x-lg"/>
          <app-custom-button label="Save" (click)="submit()" color="success" icon="floppy"/>
        </div>
      </div>
      <div class="card-body">
        <div class="mb-3 row">
          <div class="col-6">
            <app-combo-box
              [preSelectedItem]="customer ? {label: customer.firstName + ' ' + customer.lastName, value: customer.id} : undefined"
              name="customer" label="Customer" [control]="readingForm.controls.customer" [items]="customers"
              [filter]="filter">
              @if (readingForm.controls.customer.value === '') {
                <app-custom-button icon="plus-circle" label="Create and add Customer" color="primary"
                               (click)="navigateToCreateCustomer()"/>
              }
            </app-combo-box>
          </div>
          <div class="col-6">
            <app-date-picker name="dateOfReading" label="Date of Reading"
                             [control]="readingForm.controls.dateOfReading"/>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6">
            <app-input name="meterId" label="Meter ID" [control]="readingForm.controls.meterId"/>
          </div>
          <div class="col-6">
            <app-input name="meterCount" label="Meter Count" [control]="readingForm.controls.meterCount"/>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6">
            <app-select name="kindOfMeter" label="Meter Type" [control]="readingForm.controls.kindOfMeter"
                        [options]="kindOfMeter()"/>
          </div>
          <div class="col-6">
            <app-select name="substitute" label="Is Substitute" [control]="readingForm.controls.substitute"
                        [options]="[{value: 'true', label: 'Yes'}, {value: 'false', label: 'No'}]"/>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-12">
            <app-input name="comment" label="Comment" [control]="readingForm.controls.comment"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
