<div class="container">
  <div class="card mt-5">
    <div class="card-header justify-content-between align-items-center d-flex">
      <h1>Customer Details</h1>
      <div class="d-flex gap-3">
        <div class="btn-group">
          <custom-button [link]="['/customers', customer?.id ?? '', 'edit']" icon="pencil" label="Edit" />
          <custom-button color="danger" (click)="delete()" icon="trash" label="Delete" />
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-3 row">
        <div class="col-12">
          <app-input name="id" label="ID" [control]="customerForm.controls.id"/>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <app-input name="firstName" label="First Name" [control]="customerForm.controls.firstName"/>
        </div>
        <div class="col-6">
          <app-input name="lastName" label="Last Name" [control]="customerForm.controls.lastName"/>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <app-input name="gender" label="Gender" [control]="customerForm.controls.gender"/>
        </div>
        <div class="col-6">
          <app-input name="birthdate" label="Birthdate" [control]="customerForm.controls.birthdate"/>
        </div>
      </div>
    </div>
  </div>
</div>
