<div class="container">
  <div class="card mt-5">
    <div class="card-header justify-content-between align-items-center d-flex">
      <h1>Users</h1>
      <div class="d-flex gap-3">
        <!--        <div class="btn-group">-->
        <!--          <custom-button class="btn-dark btn btn-outline-primary" (click)="storeImport()" label="Import File"-->
        <!--                         icon="Cloud arrow up fill"/>-->
        <!--          <custom-button class="btn btn-dark btn-outline-primary" (click)="openExportMenu()" label="Export File"-->
        <!--                         icon="Cloud arrow down fill"/>-->
        <!--        </div>-->
                <custom-button color="info" (click)="showConfigureColumnsModal()" label="Configure Columns"
                               icon="layout-three-columns"/>
                <custom-button (click)="showFilters = !showFilters"
                               [label]="showFilters ? 'Hide Filters' : 'Show Filters'"
                               [icon]="showFilters ? 'eye-slash' : 'eye'" color="warning"/>
                <custom-button [link]="['/users/create']" label="Create Customer" icon="plus-lg"/>
      </div>
    </div>
    <div class="card-body table-responsive">
            @if (showFilters) {
              <div class="mb-3 row border-bottom pb-4">
                <div class="col-8">
                  <label for="search" class="form-label">Search:</label>
                  <input [(ngModel)]="query" (ngModelChange)="applyFilters()" type="text" class="form-control" id="search">
                </div>
                <div class="col-2">
                  <label for="role-filter" class="form-label">Role</label>
                  <select [(ngModel)]="roleFilter" (ngModelChange)="applyFilters()" id="role-filter" class="form-select">
                    <option selected [value]="undefined"> All</option>
                    <option value="admin">Admin</option>
                    <option value="customer">Customer</option>
                  </select>
                </div>
                <div class="col-2 d-flex flex-column justify-content-end align-items-stretch">
                  <custom-button (click)="clearFilters()" label="Clear Filters" color="danger"/>
                </div>
              </div>
            }
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          @for (column of columns; track column) {
            @if (column.show) {
              <th>
                @if (!column.canSort) {
                  <span>{{ column.displayName ?? column.name }}</span>
                } @else {
                  <button (click)="changeOrderBy(column.name)" class="btn fw-bold p-0 border-0 w-100 d-flex justify-content-between">
                    <span>{{ column.displayName ?? column.name }}</span>
                    @if (orderBy === column.name) {
                      <ng-icon [name]="orderDirection === 'desc' ? 'bootstrapCaretDownFill' : 'bootstrapCaretUpFill'"/>
                    } @else {
                      <ng-icon name=""/>
                    }
                  </button>
                }
              </th>
            }
          }
        </tr>
        </thead>
        <tbody>
          @for (user of users; track user.id) {
            <tr class="customer user-select-none" (click)="navigateToUser(user.id)">
              @for (column of columns; track column) {
                @if (column.show) {
                  <td>{{ column.getValue(user) }}</td>
                }
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
