<div class="container">
    <div class="card mt-5">
      <div class="card-header justify-content-between align-items-center d-flex">
        <h1>Reading Details</h1>
        <div class="d-flex gap-3">
          <a [routerLink]="['/readings', readings?.id, 'edit']" class="btn btn-primary">Edit</a>
        </div>
      </div>
      <div class="card-body">
  
        <div class="mb-3 row">
          <div class="col-12">
            <label for="id" class="form-label">ID</label>
            <input disabled type="text" class="form-control" id="id" value="{{ readings?.id }}">
          </div>
        </div>
  
        <div class="mb-3 row">
          <div class="col-6">
            <label for="customer" class="form-label">Customer</label>
            <input disabled type="text" class="form-control" id="customer" value="{{ readings?.customer?.id }}">
          </div>
  
          <div class="col-6">
            <label for="dateOfReading" class="form-label">dateOfReading</label>
            <input disabled type="text" class="form-control" id="dateOfReading" value="{{ readings?.dateOfReading }}">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6">
            <label for="meterId" class="form-label">meterId</label>
            <input disabled type="text" class="form-control" id="meterId" value="{{ readings?.meterId }}">
          </div>
  
          <div class="col-6">
            <label for="meterCount" class="form-label">meterCount</label>
            <input disabled type="text" class="form-control" id="meterCount" value="{{ readings?.meterCount }}">
          </div>
          <div class="col-6">
            <label for="kindOfMeter" class="form-label">kindOfMeter</label>
            <input disabled type="text" class="form-control" id="kindOfMeter" value="{{ readings?.metertype }}">
          </div>
          <div class="col-6">
            <label for="comment" class="form-label">comment</label>
            <input disabled type="text" class="form-control" id="comment" value="{{ readings?.comment }}">
          </div>
          <div class="col-6">
            <label for="substitute" class="form-label">substitute</label>
            <input disabled type="text" class="form-control" id="substitute" value="{{ readings?.substitute }}">
          </div>
        </div>
      </div>
    </div>
  </div>
  