<div class="container">
  <div class="card mt-5">
    <div class="card-header justify-content-between align-items-center d-flex">
      <h1>Reading Details</h1>
      <div class="btn-group">
        <custom-button [link]="['/readings', reading?.id ?? '', 'edit']" icon="pencil" label="Edit" color="info"/>
        <custom-button color="danger" (click)="delete()" icon="trash" label="Delete"/>
      </div>
    </div>

    <div class="card-body">
      <div class="mb-3 row">
        <div class="col-12">
          <app-input name="id" label="ID" [control]="readingForm.controls.id"/>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <app-input name="customer" label="Customer" [control]="readingForm.controls.customer"/>
        </div>
        <div class="col-6">
          <app-input name="dateOfReading" label="Date of Reading" [control]="readingForm.controls.dateOfReading"/>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <app-input name="meterId" label="Meter ID" [control]="readingForm.controls.meterId"/>
        </div>
        <div class="col-6">
          <app-input name="meterCount" label="Meter Count" [control]="readingForm.controls.meterCount"/>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <app-input name="kindOfMeter" label="Meter Type" [control]="readingForm.controls.kindOfMeter"/>
        </div>
        <div class="col-6">
          <label for="substitute" class="form-label">Is Substitute</label>
          <input disabled type="text" class="form-control" id="substitute" name="substitute" [value]="readingForm.controls.substitute.value === 'True' ? 'Yes' : 'No'">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-12">
          <app-input name="comment" label="Comment" [control]="readingForm.controls.comment"/>
        </div>
      </div>
    </div>
  </div>
</div>
